
@media (max-width: 500px){
    *{
        font-size: small;
    }
    

    .name{
        font-size: x-large;
        margin: 0;
    }

    .name h1{
        font-size: x-large;
    }

    .main-container{
        margin: 0;
    }

    .imgcontainer-main{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgcontainer-main img{
        width: 200px;
    }

    .logo_item{
        height: 25px;
    }
   
    .contato{
        flex-direction: column;
    }
    .contato-item{
        padding: 2px;
    }
}